.generated-data {
    display: flex;
    margin-top: 15px;
  }
  
  .user-files {
    margin-right: 5px;
  }
  
  .graphs {
  }
  
  .resizer {
    width: 5px; 
    background-color: #61dafb;
    cursor: col-resize;
  }

  ul {
    overflow: auto;
  }
  
  .file-upload-component {
    margin: 10px;
    align-items: center;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd; /* Softer border */
    padding: 10px 20px;  /* Add padding for better spacing */
    font-size: 16px;     /* Slightly larger font for readability */
    background-color: #c9f5bd;  /* Light background for subtle styling */
    border-radius: 4px;  /* Rounded corners */
    margin-bottom: 5px; /* Space between items */
    margin-right: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
}

  li span {
    font-weight: 500; 
    color: #333;      
  }

  .uploads-delete-button {
    margin-left: auto;
    font-size: 10px;
    color: red;
    border: none;
  }

  .pie-chart-container {
    position: relative;  
    width: 100%;     
    height: 100%;
    padding: 20%;  
    padding-top: 0%;
    box-sizing: border-box; 
  }