.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2em;
    border: 10px solid #33c3eb;
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .login-box {
    margin-right: 2%;
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-container label {
    margin-bottom: 0.5em;
    width: 20%; /* Set your desired width here */
    display: inline-block;
  }
  
  .signup-container input {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%; /* Set your desired width here */
    display: inline-block;
  }
  
  .signup-container button {
    padding: 0.5em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-container button:hover {
    background-color: #0056b3;
  }
  